aiohttp>=3.7.4.post0
aiowebsocket>=1.0.0.dev2
altgraph>=0.17
appdirs>=1.4.4
astroid>=2.7.2
async-timeout>=3.0.1
attrs>=21.2.0
beautifulsoup4>=4.9.3
Brotli>=1.0.9
bypy>=1.7.12
CacheControl>=0.12.6
certifi>=2021.5.30
chardet>=4.0.0
charset-normalizer>=2.0.4
colorama>=0.4.4
dill>=0.3.4
distro>=1.6.0
feedparser>=6.0.8
ffmpeg-python>=0.2.0
future>=0.18.2
idna>=3.2
isort>=5.9.3
jieba>=0.42.1
jsonlines>=2.0.0
lastversion>=1.5.1
lazy-object-proxy>=1.6.0
lockfile>=0.12.2
mccabe>=0.6.1
msgpack>=1.0.2
multidict>=5.1.0
multiprocess>=0.70.12.2
packaging>=21.0
pefile>=2021.5.24
Pillow>=8.3.1
prettytable>=2.1.0
pyasn1>=0.4.8
pyinstaller>=4.5.1
pyinstaller-hooks-contrib>=2021.2
pyparsing>=2.4.7
python-dateutil>=2.8.2
pywin32-ctypes>=0.2.0
PyYAML>=5.4.1
requests>=2.26.0
requests-toolbelt>=0.9.1
retrying>=1.3.3
rsa>=4.7.2
sgmllib3k>=1.0.0
six>=1.16.0
soupsieve>=2.2.1
toml>=0.10.2
tqdm>=4.62.1
typed-ast>=1.4.3
typing-extensions>=3.10.0.0
urllib3>=1.26.6
wcwidth>=0.2.5
wrapt>=1.12.1
yarl>=1.6.3
git+https://github.com/FortuneDayssss/BilibiliUploader.git
