biliup>=0.2.11
brotli>=1.0.9
brotlipy>=0.7.0
bypy>=1.8.2
FastNLP~=0.7.0
fastHan>=1.7
jsonlines>=3.0.0
lastversion>=2.4.5
prettytable>=3.2.0
requests>=2.27.1
urllib3>=1.26.9
websockets>=10.2
ffmpeg-python>=0.2.0
